<!doctype html>
<html lang="en">
  <head>
    <title>CANADA COVID-19 INFORMATION</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

      <section>
        <div class="container">
          <img src="/static/images/canada_flag.png" style="display:inline;" class="img-thumbnail" width="100" height="100"/>
          <h1>NATIONAL COVID-19 DATA</h1>
            <table class="table table-striped table-hover table-bordered">
                <tbody>
                  <tr class="table-danger">
                    <th>DAILY COVID-19 STATSITICS</th>
                    <td>    </td>
                  </tr>
                    {% for item in canada_info %}
                        {% if item == 'Total Cases' %}
                            <td>    </td>
                            <td>    </td>
                            <tr class="table-danger">
                                <th>TOTAL COVID-19 STATISTICS</th>
                                <td>    </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>{{ item }}</th>
                            <td>{{ "{:,}".format(canada_info[item] | int ) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>      
      </section>

    {% endblock %}
  </body>
</html>