<!DOCTYPE html>
<html>
    <head>
        <title>NUNAVUT COVID-19 INFORMATION</title>
    </head>
    <div class="container">
        <body>
            {% extends "base.html" %}
            {% block content %}
            <img src="/static/images/nunavut_flag.png" style="display:inline;" class="img-thumbnail" width="100" height="100"/>
            <h1>Nunavut COVID-19 DATA</h1>
            
            <div class="container">
                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr class="table-warning">
                            <th>DAILY COVID-19 STATSITICS</th>
                            <td>    </td>
                        </tr>
                        {% for item in nunavut_info %}
                            {% if item == 'Total Cases' %}
                                <td>    </td>
                                <td>    </td>
                                <tr class="table-warning">
                                    <th>TOTAL COVID-19 STATISTICS</th>
                                    <td>    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>{{ item }}</th>
                                <td>{{ "{:,}".format(nunavut_info[item] | int ) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>      
            {% endblock %}
        </body>
    </div>
</html>