<!DOCTYPE html>
<html>
    <div class="container">
        <body>
            {% extends "base.html" %}
            {% block content %}
            <h1>How COVID-19 spreads</h1>
            <p>COVID-19 spreads from an infected person to others through respiratory droplets and aerosols created when an infected person coughs, sneezes, sings, shouts, or talks. The droplets vary in size from large droplets that fall to the ground rapidly (within seconds or minutes) near the infected person, to smaller droplets, sometimes called aerosols, which linger in the air under some circumstances.
            The relative infectiousness of droplets of different sizes is not clear. Infectious droplets or aerosols may come into direct contact with the mucous membranes of another person's nose, mouth or eyes, or they may be inhaled into their nose, mouth, airways and lungs. The virus may also spread when a person touches another person (i.e., a handshake) or a surface or an object (also referred to as a fomite) that has the virus on it, and then touches their mouth, nose or eyes with unwashed hands.</p>
            
            <h1>Risks of getting COVID-19</h1>
            <p>
                The risk of getting COVID-19 is evolving daily and varies between and within communities. Overall, the risk to Canadians remains high. This doesn't mean that all Canadians will get the disease. It means that there's already a significant impact on our health care system.
                To stay healthy and to protect ourselves and others, we must be mindful of the ever-present risk of exposure to the virus. Some settings and situations increase the risk, such as being in:
                <ul>
                    <li>closed spaces</li>
                    <li>crowded places</li>
                    <li>close-contact settings where you can't keep 2 metres apart from each other</li>
                    <li>close-range conversations</li>
                    <li>settings where there's singing, shouting or heavy breathing (for example, during exercise)</li>
                </ul>
                It's particularly important to avoid settings where these risks overlap, such as closed spaces and crowded spaces where close-range conversations occur.
            </p>
            
        </body>
        
    </div>  
    {% endblock %}
</html>